<br>
<div class="app-info">
    <h1>App Information</h1>
    <div class="info-section">
        <h2>Developer Information</h2>
        <p><strong>Name:</strong> Divyanshu Lila</p>
        <p><strong>Contact Number:</strong> 7340001011</p>
        <p><strong>Email:</strong> divyanshulila11@gmail.com</p>
    </div>
    <div class="disclaimer">
        <h2>Disclaimer</h2>
        <p>This website is a non-commercial project created solely for educational purposes. The media displayed on this website may be copyrighted or reserved by third-party platforms. All rights to such media are owned by their respective creators or copyright holders.</p>
    </div>
</div>
<br><br><br><br>